.bgpic {
  width: 100vw;
  height: 100vh;
  background-image: url('/cover.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5rem;
  color: rgb(218, 4, 4);
  font-family: Charmonman;
  text-align: center;
  line-height: 80%;
}

p.reg {
  font-size: 1.5rem;
  padding: 25px;
}

@keyframes fadein {
  from { font-size: 4rem; opacity: 0}
  to { font-size: 7rem; opacity: 1}
}

@media only screen and (min-width: 768px){
  .title {
    font-size: 4rem;
    opacity: 0;
    animation: fadein;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
  
  }
}